main {
    margin: 25px;
    border: solid 4px black;
    min-width: 70%;
    background-color: purple;
  }

  h1 {
    padding: 15px;
  }

  ol li {
    padding: 5px;
    margin-left: 35px;
  }
  
  .small-pic {
    padding: 5px;
    border-radius: 50%;
    width: 100px;
    height: auto;
  }
  .medium-pic {
    width: 200px;
    height: auto;
  }
  .div-disc {
    display: flex;
    align-items: center;
    justify-content: left;
  }